.Grey {
  background-color: #ccc;
  padding: 2rem;
}

.Grey span {
  color: var(--primary-blue);
  text-decoration: underline;
}

.Connect {
  margin-top: 2rem;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  font-family: var(--primary-font);
  color: #000000;
}

.SocialLink {
  margin: 1rem 0.3rem;
}

.Icon {
  height: 40px;
  width: 40px;
}

.Footer {
  background: #ccc;
  font-family: var(--secondary-font);
  padding: 2rem;
  text-align: center;
}

.Email {
  font-size: 1rem;
  font-family: var(--secondary-font);
}

.Footer a {
  color: var(--primary-blue);
  text-decoration: underline;
}

.Footer a:hover {
  color: #000000;
}

.Text {
  font-size: 1rem;
  padding: 0.2rem;
  font-family: var(--secondary-font);
  display: flex;
  align-items: center;
}

.Text p {
  margin-left: 1rem;
}
